 
# ==========================
# ⚙ BACKEND
# ==========================
backend/node_modules/
backend/dist/
backend/dist-ssr/
backend/*.local
backend/.env

# ==========================
# 🧩 COMMON (ROOT LEVEL)
# ==========================
node_modules/
.env
.env.local
.DS_Store
.vscode/
.idea/
*.log
logs/