.container{
  padding-left:50px;
  margin:auto;
 
}
.footer-bg{
  background: linear-gradient(135deg, #9b8eff 0%, #8fd3f4 100%);
}



/* Common link animation for footer links & social icons */
.footer-links a{
  text-decoration: none;
  font-style: italic;
  position: relative;
  width:fit-content;
  display: inline-block;
  color: #d8e1f2; 
  transition: color 0.3s ease;
}

.footer-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  left: 0;
  bottom: -2px;
  background-color: #f6f8f9 ;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.footer-links a:hover::after {
  transform: scaleX(1);
}
.footer-links a:hover {
  color: #f9f9f9 ;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size:cover;
  opacity:0.5;       
  z-index: 0;
}
footer > * {
  position: relative;
}
.footer-head{
  font-weight:500;
}






















/* Quick links left bottom */
/* .quick-links{
    color:rgb(200, 222, 242) !important;
}
.quick-links li:hover{
    color:#647898;
}
.quick-links a {
  text-decoration: none;
  position: relative;
  color: #fff;
}
.quick-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #647898;
  transition: width 0.3s ease;
}
.quick-links a:hover::after {
  width: 100%;
}

/* Social media icons */
/* .social-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: inherit;
  transition: color 0.3s ease;
}
.social-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.social-link:hover::after {
  transform: scaleX(1);
}
.social-link:hover {
  color: #647898; 
} */ 