
.logoName{
    color: #E1F1FC !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #CFCAC6 !important;  
  color:#173753 !important;
  border:1px solid #E1F1FC;
}

.nav-link{
  font-weight: 400 !important;
}

.navbar-brand{
  margin-left:5rem;
}

.dropdown .btn{
 background: linear-gradient(to left, #173753, #173753);
  border:none;
  color:#E1F1FC;
}
.dropdown-item:hover{
  background: #CFCAC6;
  color:#173753;
}
.dropdown-menu a{
  font-weight: 300;
}

.btn-outline-light:hover{
  background-color: #CFCAC6 !important;
  color:#173753 !important;
}